---
- name: Ensure dependencies are installed
  ansible.builtin.apt:
    name: "{{ percona_release_dependencies }}"
    state: present
    update_cache: true

- name: Install percona release
  ansible.builtin.apt:
    deb: "https://repo.percona.com/apt/percona-release_{{ percona_release_version }}.{{ ansible_facts['distribution_release'] }}_all.deb"
    state: present
  environment:
    PERCONA_TELEMETRY_DISABLE: "1"
  notify: Update apt cache

- name: Check if Percona repository is already enabled
  ansible.builtin.command: "percona-release show"
  changed_when: false
  register: percona_release_show

- name: Enable Percona repository
  ansible.builtin.command: "percona-release enable {{ item }} release"
  changed_when: true
  loop: "{{ percona_release_repositories }}"
  when: item not in percona_release_show.stdout
  notify: Update apt cache

- name: Ensure apt cache is updated now if needed
  ansible.builtin.meta: "flush_handlers"
